<%- include("templates/header") %>
    <main class="container my-5">
        <div class="alert alert-danger" role="alert">
            <%= message %>
        </div>
    </main>
    <%- include("templates/footer") %>