<%- include("templates/header") %>

  <body>
    <div class="container">
      <h1>Hello, <%= username %>.</h1>
      <!-- Bootstrap responsive grid. -->
      <div class="row">
        <div class="col-sm">
          <% images.forEach(image=> { %>
            <img src="/images/<%= image %>" alt="Image" style="max-width:400px;">
            <% }) %>
        </div>
      </div>
      <br>
      <button type="button" id="signout" class="btn btn-danger">Sign out</button>
    </div>
    <script>
      const signout = document.getElementById("signout");

      signout.onclick = async () => {
        await fetch('/logout', { method: 'GET' });
        window.location.href = '/';
      };
    </script>

<%- include("templates/footer") %>
    