<%- include("templates/header") %>

<main class="container my-4">
  <h1>Hello, <%= username %>.</h1>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% images.forEach(img => { %>
      <div class="col">
        <img
          src="/images/<%= img %>"
          alt="Image"
          class="img-fluid rounded"
          style="object-fit: cover; width:100%; height:200px;"
        >
      </div>
    <% }) %>
  </div>

  <button id="signout" class="btn btn-danger mt-4">Sign out</button>
</main>

<%- include("templates/footer") %>
