<%- include("templates/header") %>
  <div class="container">
    <span id="greeting">Hello <%= username %>!</span>
    <br>
    <br>
    <button type="button" id="members" class="btn btn-primary">Go to Members Area</button>
    <br>
    <br>
    <button type="button" id="logout" class="btn btn-primary">Logout</button>
  </div>
  <script>
    const signup = document.getElementById("members");
    const login = document.getElementById("logout");

    members.onclick = () => window.location.href = '/members';
    logout.onclick = () => window.location.href = '/logout';
  </script>
  <%- include("templates/footer") %>