<%- include("templates/header") %>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form action="/signupSubmit" method="post">
                    <h2 class="mb-4 text-center">Sign Up</h2>
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input name="username" type="text" id="username" class="form-control"
                            placeholder="Enter your name" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input name="email" type="email" id="email" class="form-control" placeholder="Enter your email"
                            required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input name="password" type="password" id="password" class="form-control"
                            placeholder="Enter your password" required>
                    </div>
                    <fieldset class="mb-3">
                        <legend class="col-form-label pt-0">Role</legend>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="role" id="roleUser" value="user" checked>
                            <label class="form-check-label" for="roleUser">User</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="role" id="roleAdmin" value="admin">
                            <label class="form-check-label" for="roleAdmin">Admin</label>
                        </div>
                    </fieldset>
                    <button type="submit" class="btn btn-primary w-100">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
    <%- include("templates/footer") %>